# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/

# IDE/editor
.idea/
.vscode/
*.swp